.row
  .small-12.columns
    %h1 AB-SOLUTION
    %p A class designed to strengthen the abdominal and back muscles necessary to maintain a healthy posture. Working these ‘core’ muscles will help to improve spinal strength, mobility and tighten up the tummy area. Suitable for all fitness levels.
