.row
  .small-12.columns
    %h1 AB-SOLUTION
    %p A class designed to strengthen the abdominal and back muscles necessary to maintain a healthy posture. Working these ‘core’ muscles will help to improve spinal strength, mobility and tighten up the tummy area. Suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              ab-solution
          %tr
            .class-location
              Studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td
            %td
            %td
            %td
            %td 10:00 - 10:30
            %td
            %td
          %tr
            %td
            %td
            %td
            %td
            %td 18:45 - 19:15
            %td
            %td
