.row
  .small-12.columns
    %h1 BOOTCAMP
    %p A cross training challenge that works the whole body, designed to improve your strength and aerobic fitness levels using easy to follow, non choreographed exercises. Suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              bootcamp
          %tr
            .class-location
              Studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td
            %td 06:15 - 07:00
            %td
            %td
            %td
            %td
            %td
