.row
  .small-12.columns
    %h1 BOXING
    %p A conditioning workout using boxing drills and techniques to improve strength, co-ordination and endurance. This class will enable you to develop serious upper body strength, core strength, speed and agility. Suitable for all fitness levels up to competition level.
    %p THIS CLASS IS NOT INCLUDED IN OUR STANDARD MEMBERSHIP AND CARRIES AN EXTRA CHARGE, PLEASE ASK A MEMBER OF THE TEAM FOR MORE INFORMATION.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              amateur boxing
          %tr
            .class-location
              boxing studio
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td 19:00 - 20:00
            %td
            %td 19:15 - 20:15
            %td
            %td 16:30 - 17:30
            %td 11:00 - 12:00
            %td

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              boxing
          %tr
            .class-location
              boxing studio
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td 18:15 - 19:15
            %td
            %td 18:15 - 19:15
            %td
            %td 18:15 - 19:15
            %td
            %td
