.row
  .small-12.columns
    %h1 BOXING
    %p A conditioning workout using boxing drills and techniques to improve strength, co-ordination and endurance. This class will enable you to develop serious upper body strength, core strength, speed and agility. Suitable for all fitness levels up to competition level.
    %p THIS CLASS IS NOT INCLUDED IN OUR STANDARD MEMBERSHIP AND CARRIES AN EXTRA CHARGE, PLEASE ASK A MEMBER OF THE TEAM FOR MORE INFORMATION.
