.row
  .small-12.columns
    %h1 CIRCUIT TRAINING
    %p A total body workout that combines exercises to improve your cardiovascular fitness as well as muscle strength using exercises that are easy to follow. Suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              circuit training
          %tr
            .class-location
              main gym / studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td 19:30 - 20:30 
            %td 19:30 - 20:30
            %td 17:30 - 18:00 
            %td 19:30 - 20:30
            %td 18:00 - 19:00 
            %td
            %td
          %tr
            %td
            %td
            %td 18:30 - 19:30
            %td
            %td 
            %td
            %td

