.row
  .small-12.columns
    %h1 CIRCUIT TRAINING
    %p A total body workout that combines exercises to improve your cardiovascular fitness as well as muscle strength using exercises that are easy to follow. Suitable for all fitness levels.
