.row
  .small-12.columns.vertical-spacing
    %h1.underline Classes

.class-list
  .row
    .small-12.medium-4.columns
      .class
        %h3 AB-SOLUTION
        %p A class designed to strengthen the abdominal and back muscles necessary to maintain a healthy posture. Working these ‘core’ muscles will help to improve spinal strength, mobility and tighten up the tummy area. Suitable for all fitness levels.
    .small-12.medium-4.columns
      .class
        %h3 BOXING
        %p A conditioning workout using boxing drills and techniques to improve strength, co-ordination and endurance. This class will enable you to develop serious upper body strength, core strength, speed and agility. Suitable for all fitness levels up to competition level.
    .small-12.medium-4.columns
      .class
        %h3 CIRCUIT TRAINING
        %p A total body workout that combines exercises to improve your cardiovascular fitness as well as muscle strength using exercises that are easy to follow. Suitable for all fitness levels.
  .row
    .small-12.medium-4.columns
      .class
        %h3 CYCLE FIT
        %p A 45 minute fun and challenging indoor cycling class using a stationary bike designed to improve your cardiovascular fitness and endurance. Set to motivating music and delivered by expert instructors this class will push your fitness limits. Suitable for all fitness levels.
    .small-12.medium-4.columns
      .class
        %h3 HIIT
        %p High Intensity Interval Training – A cardiovascular based total body workout using short bursts of high intensity exercise designed to maximise calorie burn. This class will seriously improve your fitness levels, stamina and overall body shape. Challenging, but suitable for all fitness levels.
    .small-12.medium-4.columns
      .class
        %h3 KETTLE X FIT
        %p A kettle bell based work out combined with body weight exercises designed to improve functional strength, burn fat and increase general fitness levels. Suitable for all fitness levels.
  .row
    .small-12.medium-4.columns
      .class
        %h3 L.B.T
        %p Lower Body Training. A class designed to hit those problem areas: legs, bums, and tums – a conditioning workout to strengthen and burn fat. Suitable for all fitness levels.
    .small-12.medium-4.columns
      .class
        %h3 MMA
        %p Mixed Martial Arts
        %p This class is a combat based class using techniques from Muay Thai Boxing and Non Gi grappling. This class is designed to improve overall strength power and endurance. Suitable for beginners to competition level.
    .small-12.medium-4.columns
      .class
        %h3 PILATES
        %p A unique method of body conditioning focusing on lengthening and strengthening muscles to improve overall body strength, flexibility, balance and posture. Suitable for all fitness levels.
  .row
    .small-12.medium-4.columns
      .class
        %h3 PUMPED
        %p Get lean and burn fat with this power packed barbell based workout. This class focuses on using low weight and high repetitions to improve muscle strength and endurance. Suitable for all fitness levels.
    .small-12.medium-4.columns
      .class
        %h3 RIG ASSAULT
        %p An intense, cross training, total body workout using the Rig, TRX and various other types of gym equipment to challenge your fitness levels. This class is designed to improve muscle strength and cardiovascular fitness. Suitable for intermediate to advanced exercisers.
    .small-12.medium-4.columns
      .class
        %h3 STRENGTH &amp; CONDITIONING
        %p Strength and conditioning – Push your boundaries with this workout. Pushing, pulling, swinging and dragging equipment and your own body weight to develop power, strength and overall fitness. Suitable for intermediate to advanced exercisers.
  .row
    .small-12.medium-4.columns
      .class
        %h3 TOTAL BODY
        %p A full body workout combining interval training and body weight exercises designed to improve all over fitness. Suitable for all fitness levels.
    .small-12.medium-4.columns
      .class
        %h3 TRX
        %p A total body suspension workout that leverages gravity with your own body weight to provide the resistance to improve your strength, core stability, balance and flexibility. Suitable for all fitness levels.
    .small-12.medium-4.columns
      .class
        %h3 ULTIMATE ENDURANCE
        %p The ultimate workout designed to improve strength, endurance and cardiovascular fitness. Test your fitness levels with this total body workout. Suitable for intermediate and advanced exercisers .
