<div class="row">
	<div class="small-12 medium-9 small-centered columns">
<h1>COOKIE POLICY</h1>
<h2>BACKGROUND:</h2>
<p>This website www.visionhealthandfitness.co.uk (&ldquo;Our Site&rdquo;) uses Cookies and similar technologies in order to distinguish you from other users. By using Cookies, We are able to provide you with a better experience and to improve Our Site by better understanding how you use it. Please read this Cookie Policy carefully and ensure that you understand it. Your acceptance of Our Cookie Policy is deemed to occur when you have selected your preferred Cookie options in Our Cookie declaration pop-up and pressed the &ldquo;OK&rdquo; button. If you do not agree to Our Cookie Policy, please stop using Our Site immediately.</p>
<h4>1. Definitions and Interpretation</h4>
<p><strong>1.1</strong> In this Cookie Policy, unless the context otherwise requires, the following expressions have the following meanings:</p>
<p>&ldquo;Cookie&rdquo; means a small file placed on your computer or device by Our Site when you visit certain parts of Our Site and/or when you use certain features of Our Site;</p>
<p>&ldquo;Cookie Law&rdquo; means the relevant parts of the Privacy and Electronic Communications (EC Directive) Regulations 2003 and of EU Regulation 2016/679 General Data Protection Regulation (&ldquo;GDPR&rdquo;);</p>
<p>&ldquo;personal data&rdquo; means any and all data that relates to an identifiable person who can be directly or indirectly identified from that data, as defined by the EU Regulation 2016/679 General Data Protection Regulation (&ldquo;GDPR&rdquo;); and</p>
<p>&ldquo;We/Us/Our&rdquo; means Vision Health and Fitness Club Limited, a limited company registered in England under company number 08362823, whose registered address is Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3DJ, and whose main trading address is Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3DJ.</p>
<h4>>2. Information About Us</h4>
<p><strong>2.1</strong> Our Site is owned and operated by Vision Health and Fitness Club Limited , a limited company registered in England under company number 08362823, whose registered address is Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3DJ and whose main trading address is Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3DJ.</p>
<p><strong>2.2</strong> Our VAT number is 253473405.</p>
<p><strong>2.3</strong> We are a member of UK Active.</p>
<h4>3. How Does Our Site Use Cookies?</h4>
<p><strong>3.1</strong> Our Site may place and access certain first party Cookies on your computer or device. First party Cookies are those placed directly by Us and are used only by Us. We use Cookies to facilitate and improve your experience of Our Site and to provide and improve Our products AND/OR services. We have carefully chosen these Cookies and have taken steps to ensure that your privacy and personal data is protected and respected at all times.</p>
<p><strong>3.2</strong> By using Our Site, you may also receive certain third party Cookies on your computer or device. Third party Cookies are those placed by websites, services, and/or parties other than Us. Third party Cookies are used on Our Site for ensuring secure sign up for our memberships, advertising, statistics and analytics . For more details, please refer to section 4 below.</p>
<p><strong>3.3</strong> All Cookies used by and on Our Site are used in accordance with current Cookie Law. We may use some or all of the following types of Cookie:</p>
<p><strong>3.3.1</strong> Strictly Necessary Cookies A Cookie falls into this category if it is essential to the operation of Our Site, supporting functions such as logging in, your shopping basket, and payment transactions.</p>
<p><strong>3.3.2</strong> Analytics Cookies It is important for Us to understand how you use Our Site, for example, how efficiently you are able to navigate around it, and what features you use. Analytics Cookies enable us to gather this information, helping Us to improve Our Site and your experience of it.</p>
<p><strong>3.3.3</strong> Functionality Cookies Functionality Cookies enable Us to provide additional functions to you on Our Site such as personalisation and remembering your saved preferences. Some functionality Cookies may also be strictly necessary Cookies, but not all necessarily fall into that category.</p>
<p><strong>3.3.4</strong> Targeting Cookies It is important for Us to know when and how often you visit Our Site, and which parts of it you have used (including which pages you have visited and which links you have visited). As with analytics Cookies, this information helps us to better understand you and, in turn, to make Our Site and advertising more relevant to your interests. Some information gathered by targeting Cookies may also be shared with third parties.</p>
<p><strong>3.3.5</strong> Third Party Cookies Third party Cookies are not placed by Us; instead, they are placed by third parties that provide services to Us and/or to you. Third party Cookies may be used by advertising services to serve up tailored advertising to you on Our Site, or by third parties providing analytics services to Us (these Cookies will work in the same way as analytics Cookies described above).</p>
<p><strong>3.3.6</strong> Persistent Cookies Any of the above types of Cookie may be a persistent Cookie. Persistent Cookies are those which remain on your computer or device for a predetermined period and are activated each time you visit Our Site.</p>
<p><strong>3.3.7</strong> Session Cookies Any of the above types of Cookie may be a session Cookie. Session Cookies are temporary and only remain on your computer or device from the point at which you visit Our Site until you close your browser. Session Cookies are deleted when you close your browser.</p>
<p><strong>3.4</strong> Cookies on Our Site are not permanent and will expire as indicated in the table below.</p>
<p><strong>3.5</strong> For more details of the personal data that We collect and use, the measures we have in place to protect personal data, your legal rights, and our legal obligations, please refer to our <%= link_to 'Privacy Policy', 'pdfs/privacy_policy' %>.</p>
<p><strong>3.6</strong> For more specific details of the Cookies that We use, please refer to the table below.</p>
<h4>4. What Cookies Does Our Site Use?</h4>
<p><strong>4.1</strong> The following first party Cookies may be placed on your computer or device:</p>

<table>
	<tr>
		<th>Name of Cookie</th>
		<th>Purpose</th>
		<th>Expiry</th>
		<th>Type</th>
		<th>Strictly Necessary</th>
	</tr>
	<tr>
		<td>CookieConsent</td>
		<td>Stores the user&rsquo;s cookie consent state for the website.</td>
		<td>1 year</td>
		<td>HTTP</td>
		<td>Yes</td>
	</tr>
	<tr>
		<td>_ga</td>
		<td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website.</td>
		<td>2 years</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
	<tr>
		<td>_gat</td>
		<td>Used by Google Analytics to throttle request rate.</td>
		<td>Session</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
	<tr>
		<td>_gid</td>
		<td>Registers a unique ID that is used to generate statistical data on how the visitor uses the website.</td>
		<td>Session</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
	<tr>
		<td>_visionhealthandfitness_session</td>
		<td>Used to track your movement throughout our site and remember your preferences while using the site.</td>
		<td>Session</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
</table>

<p><strong>4.2</strong> The following third party Cookies may be placed on your computer or device: Name of Cookie Purpose Provider Expiry Type Strictly Necessary</p>

<table>
	<tr>
		<th>Name of Cookie</th>
		<th>Purpose</th>
		<th>Provider</th>
		<th>Expiry</th>
		<th>Type</th>
		<th>Strictly Necessary</th>
	</tr>
	<tr>
		<td>_cfduid</td>
		<td>Used by the content network, Cloudflare, to identify trusted web traffic.</td>
		<td>Membr</td>
		<td>1 year</td>
		<td>HTTP</td>
		<td>Yes</td>
	</tr>
	<tr>
		<td>fr</td>
		<td>Used by Facebook to deliver a series of advertisement products such as real time bidding from third party advertisers.</td>
		<td>Facebook.com</td>
		<td>3 months</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
	<tr>
		<td>GPS</td>
		<td>Registers a unique ID on mobile devices to enable tracking based on geographical GPS location.</td>
		<td>Youtube.com</td>
		<td>Session</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
	<tr>
		<td>PREF</td>
		<td>Registers a unique ID that is used by Google to keep statistics of how the visitor uses YouTube videos across different websites.</td>
		<td>Youtube.com</td>
		<td>8 months</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
	<tr>
		<td>tr</td>
		<td>Registers a unique ID that is used by Facebook to track events triggered by a button click on any pages visited through a Facebook Ad.</td>
		<td>Facebook.com</td>
		<td>Session</td>
		<td>Pixel Tracker</td>
		<td>No</td>
	</tr>
	<tr>
		<td>VISITOR_INFO1_LIVE</td>
		<td>Tries to estimate the users&rsquo; bandwidth on pages with integrated YouTube videos. Youtube.com 179 days HTTP No YSC Registers a uniue ID to keep statistics of what videos from YouTube the user has seen.</td>
		<td>Youtube.com</td>
		<td>Session</td>
		<td>HTTP</td>
		<td>No</td>
	</tr>
</table>

<p><strong>4.3</strong> Our Site uses analytics services provided by Google Analytics. Website analytics refers to a set of tools used to collect and analyse anonymous usage information, enabling Us to better understand how Our Site is used. This, in turn, enables Us to improve Our Site and the products AND/OR services offered through it. You do not have to allow Us to use these Cookies, however whilst Our use of them does not pose any risk to your privacy or your safe use of Our Site, it does enable Us to continually improve Our Site, making it a better and more useful experience for you.</p>
<p><strong>4.4</strong> The analytics service(s) used by Our Site use(s) analytics Cookies to gather the required information.</p>
<p><strong>4.5</strong> The analytics service(s) used by Our Site use(s) the following analytics Cookies: Name of Cookie Purpose Provider Expiry Type Strictly Necessary collect Used to send data to Google Analytics about the visitor&rsquo;s device and behavious. Tracks the visitor across devices and marketing channels. Google-analytics.com Session Pixel Tracker No</p>
<p><strong>5.</strong> Consent and Control</p>
<p><strong>5.1</strong> Before Cookies are placed on your computer or device, you will be shown a Cookie declaration pop-up requesting your consent to set those Cookies. By giving your consent to the placing of Cookies you are enabling Us to provide the best possible experience and service to you. You may, if you wish, deny consent to the placing of Cookies unless those Cookies are strictly necessary; however certain features of Our Site may not function fully or as intended. You will be given the opportunity to allow and/or deny different categories of Cookie that We use. You can return to your Cookie preferences to review and/or change them at any time by using the cookie declaration pop up preferences.</p>
<p><strong>5.2</strong> In addition to the controls that We provide, you can choose to enable or disable Cookies in your internet browser. Most internet browsers also enable you to choose whether you wish to disable all Cookies or only third party Cookies. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser or the documentation that came with your device.</p>
<p><strong>5.3</strong> The links below provide instructions on how to control Cookies in all mainstream browsers:</p>
<p><strong>5.3.1</strong> Google Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=en-GB">https://support.google.com/chrome/answer/95647?hl=en-GB</a></p>
<p><strong>5.3.2</strong> Microsoft Internet Explorer: <a href="https://support.microsoft.com/en-us/kb/278835">https://support.microsoft.com/en-us/kb/278835</a></p>
<p><strong>5.3.3</strong> Microsoft Edge: https://support.microsoft.com/en-gb/products/microsoft-edge (Please note that there are no specific instructions at this time, but Microsoft support will be able to assist)</p>
<p><strong>5.3.4</strong> Safari (macOS): <a href="https://support.apple.com/kb/PH21411?viewlocale=en_GB&amp;locale=en_GB">https://support.apple.com/kb/PH21411?viewlocale=en_GB&amp;locale=en_GB</a></p>
<p><strong>5.3.5</strong> Safari (iOS): <a href="https://support.apple.com/en-gb/HT201265">https://support.apple.com/en-gb/HT201265</a></p>
<p><strong>5.3.6</strong> Mozilla Firefox: <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-Cookies-website-preferences">https://support.mozilla.org/en-US/kb/enable-and-disable-Cookies-website-preferences</a></p>
<p><strong>5.3.7</strong> Android: https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&amp;hl=en (Please refer to your device&rsquo;s documentation for manufacturers&rsquo; own browsers)</p>
<p><strong>6.</strong> Changes to this Cookie Policy</p>
<p><strong>6.1</strong> We may alter this Cookie Policy at any time. Any such changes will become binding on you on your first use of Our Site after the changes have been made. You are therefore advised to check this page from time to time.</p>
<p><strong>6.2</strong> In the event of any conflict between the current version of this Cookie Policy and any previous version(s), the provisions current and in effect shall prevail unless it is expressly stated otherwise.</p>
<p><strong>7.</strong> Further Information</p>
<p><strong>7.1</strong> If you would like to know more about how We use Cookies, please contact Us at compliance@visionhealthandfitness.co.uk, by telephone on 0191 447 6919, or by post at Vision Health and Fitness Club Limited, Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3DJ. 7.2 For more information about privacy, data protection and our terms and conditions, please visit the following:</p>
<p><strong>7.2.1</strong> <%= link_to 'https://visionhealthandfitness.co.uk/pdfs/vhf_privacy_policy.pdf', 'https://visionhealthandfitness.co.uk/pdfs/vhf_privacy_policy.pdf' %></p>
<p><strong>7.2.2</strong> www.visionhealthandfitness.co.uk/policies/termsandconditions. &copy; Vision Health and Fitness Club Limited (VIS-POLY-013 rev 1.0) 6</p>
<p>&nbsp;</p>
<p>2</p>
</div>
</div>
