.row
  .small-12.columns
    %h1 CYCLE FIT
    %p A 45 minute fun and challenging indoor cycling class using a stationary bike designed to improve your cardiovascular fitness and endurance. Set to motivating music and delivered by expert instructors this class will push your fitness limits. Suitable for all fitness levels.
    %p Want a bit more? Then try CYCLE FIT CHALLENGE A 60 MINUTE CLASS for those who are already proficient at CYCLE FIT this class will really push those fitness boundaries.
