.row
  .small-12.columns
    %h1 HIIT
    %p High Intensity Interval Training – A cardiovascular based total body workout using short bursts of high intensity exercise designed to maximise calorie burn. This class will seriously improve your fitness levels, stamina and overall body shape. Challenging, but suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              hiit
          %tr
            .class-location
              studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td 09:30 - 10:00
            %td
            %td 06:30 - 07:00
            %td
            %td 09:30 - 10:00
            %td
            %td
