.row
  .small-12.columns
    %h1 KETTLE X FIT
    %p A kettle bell based work out combined with body weight exercises designed to improve functional strength, burn fat and increase general fitness levels. Suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              kettle x fit
          %tr
            .class-location
              studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td 06:15 - 06:45
            %td
            %td
            %td 06:15 - 06:45 
            %td
            %td 09:30 - 10:00
            %td
