.row
  .small-12.columns
    %h1 KETTLE X FIT
    %p A kettle bell based work out combined with body weight exercises designed to improve functional strength, burn fat and increase general fitness levels. Suitable for all fitness levels.
