.row
  .small-12.columns
    %h1 L.B.T
    %p Lower Body Training. A class designed to hit those problem areas: legs, bums, and tums – a conditioning workout to strengthen and burn fat. Suitable for all fitness levels.
