.row
  .small-12.columns
    %h1 L.B.T
    %p Lower Body Training. A class designed to hit those problem areas: legs, bums, and tums – a conditioning workout to strengthen and burn fat. Suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              l.b.t
          %tr
            .class-location
              studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td
            %td 18:00 - 18:45
            %td
            %td 17:30 - 18:00
            %td
            %td
            %td
