<div class='row'>
  <div class='small-12 columns'>
    <h1 class='underline'>Memberships</h1>
  </div>
</div>
<div class='row vertical-spacing'>
  <div class='memberships'>
    <div class='small-12 medium-4 columns'>
      <div class='membership-option'>
        <div class='membership-title'>
          <h3>peak</h3>
        </div>
        <div class='membership-price'>
          <span>£14.99</span>
        </div>
        <div class='membership-details'>
          <ul>
            <li>12 months contract</li>
            <li>Use of all facilities at all times</li>
            <li>Includes 200 classes per month</li>
          </ul>
        </div>
        <div class='membership-link'>
          <%= link_to 'Join Now', 'https://visionhealthandfitness.membr.com/register', class: 'button' %>
        </div>
      </div>
    </div>
    <div class='small-12 medium-4 columns'>
      <div class='membership-option'>
        <div class='membership-title'>
          <h3>platinum</h3>
        </div>
        <div class='membership-price'>
          <span>£35</span>
        </div>
        <div class='membership-details'>
          <ul>
            <li>12 months contract</li>
            <li>Use of all facilities at all times</li>
            <li>Over 200 classes per month including Boxing, MMA, Strength and Conditioning</li>
          </ul>
        </div>
        <div class='membership-link'>
          <%= link_to 'Join Now', 'https://visionhealthandfitness.membr.com/register', class: 'button' %>
        </div>
      </div>
    </div>
    <div class='small-12 medium-4 columns'>
      <div class='membership-option'>
        <div class='membership-title'>
          <h3>flexi</h3>
        </div>
        <div class='membership-price'>
          <span>£29.99</span>
        </div>
        <div class='membership-details'>
          <ul>
            <li>12 months contract</li>
            <li>Rolling 30 day contract</li>
            <li>Use of all facilities at all times</li>
            <li>Includes 200 classes per month</li>
          </ul>
        </div>
        <div class='membership-link'>
          <%= link_to 'Join Now', 'https://visionhealthandfitness.membr.com/register', class: 'button' %>
        </div>
      </div>
    </div>
  </div>
</div>
