.row
  .small-12.columns
    %h1.underline Memberships

.row.vertical-spacing
  .memberships
    .small-12.medium-4.columns
      .membership-option
        .membership-title
          %h3 peak
        .membership-price
          %span £14.99
        .membership-details
          %ul
            %li 12 months contract
            %li Use of all facilities at all times
            %li Includes 200 classes per month
        .membership-link
          %a.button{href: 'https://visionhealthandfitness.membr.com/register'} join now

    .small-12.medium-4.columns
      .membership-option
        .membership-title
          %h3 platinum
        .membership-price
          %span £35
        .membership-details
          %ul
            %li 12 months contract
            %li Use of all facilities at all times
            %li Over 200 classes per month including Boxing, MMA, Strength and Conditioning
        .membership-link
          %a.button{href: 'https://visionhealthandfitness.membr.com/register'} join now


    .small-12.medium-4.columns
      .membership-option
        .membership-title
          %h3 flexi
        .membership-price
          %span £29.99
        .membership-details
          %ul
            %li 12 months contract
            %li Rolling 30 day contract
            %li Use of all facilities at all times
            %li Includes 200 classes per month
        .membership-link
          %a.button{href: 'https://visionhealthandfitness.membr.com/register'} join now
