.row
  .small-12.columns
    %h1 MMA
    %p Mixed Martial Arts
    %p This class is a combat based class using techniques from Muay Thai Boxing and Non Gi grappling. This class is designed to improve overall strength power and endurance. Suitable for beginners to competition level.
    %p THIS CLASS IS NOT INCLUDED IN OUR STANDARD MEMBERSHIP AND CARRIES AN EXTRA CHARGE, PLEASE ASK A MEMBER OF THE TEAM FOR MORE INFORMATION.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              mma
          %tr
            .class-location
              boxing studio
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td
            %td 19:15 - 20:15
            %td
            %td 19:15 - 20:15
            %td
            %td 14:00 - 15:00
            %td
