.row
  .small-12.columns
    %h1 PILATES
    %p A unique method of body conditioning focusing on lengthening and strengthening muscles to improve overall body strength, flexibility, balance and posture. Suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              pilates
          %tr
            .class-location
              studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td 19:00 - 20:00
            %td 10:15 - 11:15
            %td 18:00 - 19:00
            %td 09:30 - 10:30
            %td
            %td 11:00 - 12:00
            %td 11:00 - 12:00
