.row
  .small-12.columns
    %h1 PILATES
    %p A unique method of body conditioning focusing on lengthening and strengthening muscles to improve overall body strength, flexibility, balance and posture. Suitable for all fitness levels.
