<div class="row">
	<div class="small-12 medium-9 small-centered columns">
		<h1>PRIVACY POLICY</h1>

		<h2>BACKGROUND:</h2>

		<p>Vision Health and Fitness Club Limited understands that your privacy is important to you and that you care about how your personal data is used. We respect and value the privacy of everyone who visits this website, <%= link_to I18n.t('domain'), root_path %> (Our Site) and will only collect and use personal data in ways that are described here, and in a way that is consistent with our obligations and your rights under the law.</p>

		<p>Please read this Privacy Policy carefully and ensure that you understand it. Your acceptance of this Privacy Policy is deemed to occur upon your first use of Our Site AND You will be required to read and accept this Privacy Policy when signing up for an Account. If you do not accept and agree with this Privacy Policy, you must stop using Our Site immediately.</p>

		<h4>1. Definitions and Interpretation</h4>
		<p>In this Policy the following terms shall have the following meanings:</p>

		<p>Account</p>
		<p>means an account required to access and/or use certain areas and features of Our Site;</p>
		<p>Cookie</p>
		<p>means a small text file placed on your computer or device by Our Site when you visit certain parts of Our Site and/or when you use certain features of Our Site. Details of the Cookies used by Our Site are set out in Part 14, below; and</p>
		<p>Cookie Law</p>
		<p>means the relevant parts of the Privacy and Electronic Communications (EC Directive) Regulations 2003;</p>


		<h4>2. Information About Us</h4>
		<p>Our Site is owned and operated by Vision Health and Fitness Club Limited, a limited company registered in England under company number 08362823.</p>
		<p>Registered address: Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3DJ.</p>
		<p>Main trading address: Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3Dj.</p>
		<p>VAT number: 253473405.</p>
		<p>We are a member of UK Active.</p>

		<h4>3. What Does This Policy Cover?</h4>
		<p>This Privacy Policy applies only to your use of Our Site. Our Site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.</p>

		<h4>4. What is Personal Data?</h4>
		<p>Personal data is defined by the General Data Protection Regulation (EU Regulation 2016/679) (the ÒGDPRÓ) as Ôany information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier.</p>
		<p>Personal data is, in simpler terms, any information about you that enables you to be identified. Personal data covers obvious information such as your name and contact details, but it also covers less obvious information such as identification numbers, electronic location data, and other online identifiers.</p>

		<h4>5. What Are My Rights?</h4>
		<p>Under the GDPR, you have the following rights, which we will always work to uphold:</p>
		<p>a) The right to be informed about our collection and use of your personal data. This Privacy Policy should tell you everything you need to know, but you can always contact us to find out more or to ask any questions using the details in Part 15.</p>
		<p>b) The right to access the personal data we hold about you. Part 13 will tell you how to do this.</p>
		<p>c) The right to have your personal data rectified if any of your personal data held by us is inaccurate or incomplete. Please contact us using the details in Part 15 to find out more.</p>
		<p>d) The right to be forgotten, i.e. the right to ask us to delete or otherwise dispose of any of your personal data that we have. Please contact us using the details in Part 15 to find out more.</p>
		<p>e) The right to restrict (i.e. prevent) the processing of your personal data.</p>
		<p>f) The right to object to us using your personal data for a particular purpose or purposes.</p>
		<p>g) The right to data portability. This means that, if you have provided personal data to us directly, we am using it with your consent or for the performance of a contract, and that data is processed using automated means, you can ask us for a copy of that personal data to re-use with another service or business in many cases.</p>
		<p>h) Rights relating to automated decision-making and profiling.</p>
		<p>For more information about our use of your personal data or exercising your rights as outlined above, please contact us using the details provided in Part 15.</p>
		<p>Further information about your rights can also be obtained from the Information CommissionerÕs Office or your local Citizens Advice Bureau.</p>
		<p>If you have any cause for complaint about our use of your personal data, you have the right to lodge a complaint with the Information CommissionerÕs Office.</p>

		<h4>6. What Data Do We Collect?</h4>
		<p>Depending upon your use of Our Site, we may collect some or all of the following personal and non-personal data (please also see Part 14 on our use of Cookies and similar technologies and our <%= link_to 'Cookie Policy', cookie_policy_path %>:</p>
		<p>* Name;</p>
		<p>* Date of birth;</p>
		<p>* Gender;</p>
		<p>* Address;</p>
		<p>* Email address;</p>
		<p>* Telephone number;</p>
		<p>* Payment information;</p>
		<p>* Information about your preferences and interests;</p>
		<p>* IP address;</p>
		<p>* Web browser type and version;</p>
		<p>* Operating system;</p>
		<p>* A list of URLs starting with a referring site, your activity on Our Site, and the site you exit to;</p>

		<h4>7. How Do You Use My Personal Data?</h4>
		<p>Under the GDPR, we must always have a lawful basis for using personal data. This may be because the data is necessary for our performance of a contract with you, because you have consented to our use of your personal data, or because it is in our legitimate business interests to use it. Your personal data may be used for the following purposes:</p>
		<p>* Providing and managing your Account;</p>
		<p>* Providing and managing your access to Our Site;</p>
		<p>* Personalising and tailoring your experience on Our Site;</p>
		<p>* Supplying our products AND/OR services to you. Your personal details are required in order for us to enter into a contract with you.</p>
		<p>* Personalising and tailoring our products AND/OR services for you.</p>
		<p>* Communicating with you. This may include responding to emails or calls from you.</p>
		<p>* Supplying you with information by email AND/OR text that you have opted-in to (you may unsubscribe or opt-out at any time by clicking on the link provided in any messages that we send you or by emailing us at <%= I18n.t('contact_info.email.compliance') %> and let us know that you no longer wish to receive information from us).</p>
		<p>* Analysing your use of Our Site and gathering feedback to enable us to continually improve Our Site and your user experience.</p>
		<p>With your permission and/or where permitted by law, we may also use your personal data for marketing purposes, which may include contacting you by email AND/OR text message with information, news, and offers on our products AND/OR services. You will not be sent any unlawful marketing or spam. We will always work to fully protect your rights and comply with our obligations under the GDPR and the Privacy and Electronic Communications (EC Directive) Regulations 2003, and you will always have the opportunity to opt-out.</p>

		<h4>8. How Long Will You Keep My Personal Data?</h4>
		<p>We will not keep your personal data for any longer than is necessary in light of the reason(s) for which it was first collected. Your personal data will therefore be kept for the following periods (or, where there is no fixed period, the following factors will be used to determine how long it is kept):</p>
		<p>* Personal data relating to memberships (excluding memberships paid via direct debit) will be kept for no longer than 12 months after the membership expired;</p>
		<p>* Personal data relating to memberships that were paid for via direct debit will be kept indefinitely to ensure the company can comply with any indemnity claims made under the direct debit guarantee. This data will be reviewed annually and any personal data of expired memberships older than 12 months will be removed from our live systems and stored securely offline on a physical storage device, access to which is restricted by both physical and digital security.</p>
		<p>* Personal data relating to free trials AND/OR prospects will be stored for 12 months after the date of the initial data collection. After this period has passed, the data will be permanently erased.</p>

		<h4>9. How and Where Do You Store or Transfer My Personal Data?</h4>
		<p>We may store or transfer some or all of your personal data in countries that are not part of the European Economic Area (the ÒEEAÓ consists of all EU member states, plus Norway, Iceland, and Liechtenstein). These are known as Òthird countriesÓ and may not have data protection laws that are as strong as those in the UK and/or the EEA. This means that we will take additional steps in order to ensure that your personal data is treated just as safely and securely as it would be within the UK and under the GDPR as follows.</p>
		<p>We will only transfer your personal data to countries that the European Commission has deemed to provide an adequate level of personal data protection. More information is available from the European Commission.</p>
		<p>Where we transfer your data to a third party based in the US, this may be protected if they are part of the EU-US Privacy Shield. This requires that third party to provide data protection to standards similar to those in Europe. More information is available from the European Commission.</p>
		<p>Please contact us using the details below in Part 15 for further information about the particular data protection mechanism used by us when transferring your personal data to a third country.</p>
		<p>The security of your personal data is essential to us, and to protect your data, we take a number of important measures, including the following:</p>
		<p>* Firewalls;</p>
		<p>* Anti-Virus software;</p>
		<p>* Browser certification technology / SSL certificates;</p>
		<p>* Encryption;</p>
		<p>* Restricted physical access;</p>
		<p>* Use of strong passwords;</p>
		<p>* 128/256bit secure cloud based data storage / processing facilities;</p>
		<p>* Training of staff about data security; and</p>
		<p>* Logging, tracking and auditing of all access to personal data.</p>

		<h4>10. Do You Share My Personal Data?</h4>
		<p>We may share your personal data with other companies in our group for reporting purposes. This includes subsidiaries AND/OR our holding company and its subsidiaries.<p>
		<p>We may sometimes contract with the following third parties to supply certain products AND/OR services. These may include payment processing, delivery, membership management services, access control and marketing. In some cases, those third parties may require access to some or all of your personal data that we hold.</p>
		<p>* Membr (Fit Cloud Technology Limited, Suite 12, The Granary, 50 Barton road, Worsley, Manchester, M28 2EB) provides us with our membership management software, class booking system and mobile training app. Your personal data will be shared with them if you purchase a membership with us, have a free trial or download their app for the purposes of managing your membership subscription AND/OR free trial AND/OR use of their mobile training app. They are located in the UK. Their Privacy Policy can be viewed here https://membr.com/privacy-policy/<p>
		<p>* Harlands (Harlands Services Limited, 2nd Floor, Rockwood House, 9-17 Perrymount road, Haywards Heath, West Sussex, RH16 3TW) provides us with payment and direct debit collection services. Your personal data will be shared with them if you pay for your membership via direct debit for the purposes of direct debit collections. They are located in the UK. Their Privacy policy can be viewed here https://www.harlandsgroup.co.uk/wp-content/uploads/2018/05/Harlands-Privacy-Policy-2018.pdf</p>
		<p>* Nomical (Nomical Limited, 1st Floor, No1 Spinningfields, Quay street, Manchester, M3 3JE) provides us with our Biometric Fingerprint Access Control System. Your personal data will be shared with them when you take out a membership with us for the purposes of managing and restricting access to our site. They are located in the UK. Their Privacy Policy can be viewed here https://nomical.com/privacy/</p>
		<p>* MailChimp (The Rocket Science Group LLC) provide us with an online marketing platform to enable us to send and manage our marketing email campaigns using their services. Your personal data will be shared with them explicitly for this purpose and only with your prior consent. Mailchimp is located in the US. Their Privacy Policy can be viewed here https://mailchimp.com/legal/privacy/</p>
		<p>* Text Marketer (Esendex Limited t/a Text Marketer, 20 Wollaton street, Nottingham, NG1 5FW) provides us with our SMS marketing platform to enable us to send and manage our marketing campaigns via text message. Your personal data will be shared with them explicitly for this purpose and only with your prior consent. Text Marketer is located in the UK. Their Privacy Policy can be viewed here  https://www.textmarketer.co.uk/pdfebooks/Text_Marketer_Privacy_Policy.pdf</p>
		<p>If any of your personal data is required by a third party, as described above, we will take steps to ensure that your personal data is handled safely, securely, and in accordance with your rights, our obligations, and the third partyÕs obligations under the law, as described above in Part 9.</p>
		<p>If any personal data is transferred outside of the EEA, we will take suitable steps in order to ensure that your personal data is treated just as safely and securely as it would be within the UK and under the GDPR, as explained above in Part 9.</p>
		<p>In some limited circumstances, we may be legally required to share certain personal data, which might include yours, if we are involved in legal proceedings or complying with legal obligations, a court order, or the instructions of a government authority.</p>

		<h4>11. How Can I Control My Personal Data?</h4>
		<p>11.1 In addition to your rights under the GDPR, set out in Part 5, when you submit personal data via Our Site, you may be given options to restrict our use of your personal data. In particular, we aim to give you strong controls on our use of your data for direct marketing purposes (including the ability to opt-out of receiving emails from us which you may do by unsubscribing using the links provided in our emails and texts AND/OR at the point of providing your details).</p>
		<p>11.2 You may also wish to sign up to one or more of the preference services operating in the UK: The Telephone Preference Service (Òthe TPSÓ), the Corporate Telephone Preference Service (Òthe CTPSÓ), and the Mailing Preference Service (Òthe MPSÓ). These may help to prevent you receiving unsolicited marketing. Please note, however, that these services will not prevent you from receiving marketing communications that you have consented to receiving.</p>

		<h4>12. Can I Withhold Information?</h4>
		<p>You may access certain areas of Our Site without providing any personal data at all. However, to use all features and functions available on Our Site you may be required to submit or allow for the collection of certain data.</p>
		<p>You may restrict our use of Cookies. For more information, see Part 14 and our <%= link_to 'Cookie Policy', cookie_policy_path %>.</p>

		<h4>13. How Can I Access My Personal Data?</h4>
		<p>If you want to know what personal data we have about you, you can ask us for details of that personal data and for a copy of it (where any such personal data is held). This is known as a subject access request.</p>
		<p>All subject access requests should be made in writing and sent to the email or postal addresses shown in Part 15. To make this as easy as possible for you, a Subject Access Request Form is available for you to use. You do not have to use this form, but it is the easiest way to tell us everything we need to know to respond to your request as quickly as possible.</p>
		<p>There is not normally any charge for a subject access request. If your request is manifestly unfounded or excessive (for example, if you make repetitive requests) a fee may be charged to cover our administrative costs in responding.</p>
		<p>We will respond to your subject access request within 28 days and, in any case, not more than one month of receiving it. Normally, we aim to provide a complete response, including a copy of your personal data within that time. In some cases, however, particularly if your request is more complex, more time may be required up to a maximum of three months from the date we receive your request. You will be kept fully informed of our progress.</p>

		<h4>14. How Do You Use Cookies and Tracking Technologies?</h4>
		<p>We and our partners may use varying technologies to collect and store information when you use Our Site, and this may include using Cookies and similar tracking technologies, such as pixels and web beacons. The use of these technologies by us, allow us to collect information regarding your use of Our Site, such as, your IP address, browser type and similar details to help us improve the performance of Our Site, your experience while using Our Site and to provide our products and services. Certain third parties may also use similar technologies while you are visiting Our Site and the use of these is to provide analytics information and enhance the effectiveness of their services, which we may be using.</p>
		<p>For full details about our use of cookies and other tracking technologies that we use please read our Cookie Policy here.</p>

		<h4>15. How Do I Contact You?</h4>
		<p>To contact us about anything to do with your personal data and data protection, including to make a subject access request, please use the following details:</p>
		<p>Email address: compliance@visionhealthandfitness.co.uk.</p>
		<p>Telephone number: 0191 447 6919.</p>
		<p>Postal Address: Vision Health and Fitness Club Limited, Unit 2 Sands Industrial Estate, Swalwell, Newcastle upon Tyne, NE16 3DJ.</p>

		<h4>16. Changes to this Privacy Policy</h4>
		<p>We may change this Privacy Notice from time to time. This may be necessary, for example, if the law changes, or if we change our business in a way that affects personal data protection.</p>
		<p>Any changes will be immediately posted on Our Site and you will be deemed to have accepted the terms of the Privacy Policy on your first use of Our Site following the alterations. We recommend that you check this page regularly to keep up-to-date.</p>

		<p>© Vision Health and Fitness Club Limited (VIS-Poly-012 rev 1.0)</p>
	</div>
</div>





