<% title 'Cramlington Register Interest Confirmation' %>

<div class="row expanded collapse">
  <div class="small-12 columns">
    <div class="bg-image confirmation-banner">
      <div class="confirmation-banner-text">
        <div class="small-12 medium-9 small-centered columns">
          <h2>REGISTRATION COMPLETE</h2>
          <span>Thank you, your details have been registered with us. Keep an eye out in inbox for information about the upcoming offers and promo codes.</span>
        </div>
      </div>
    </div>
  </div>
</div>
