$("#register-interest-form").html('<div class="text-center confirmation-text"><p>Thank you for registering your interest. Your details have been submitted. Please keep an eye on your emails, or texts for our discounted presale membership offers.</p></div>');

var registerInterestForm = document.getElementById("register-interest-form");
registerInterestForm.scrollIntoView();

