<div class="row">
  <div class="small-12 medium-8 columns small-centered">
    <div class="promo-text">
      <h5>Registration Complete</h1>
      <p>Thank you for registering your interest.</p>
    </div>
  </div>
</div>
