.row
  .small-12.columns
    %h1 RIG ASSAULT
    %p An intense, cross training, total body workout using the Rig, TRX and various other types of gym equipment to challenge your fitness levels. This class is designed to improve muscle strength and cardiovascular fitness. Suitable for intermediate to advanced exercisers.
