.row
  .small-12.columns
    %h1 S&C
    %p Strength and conditioning – Push your boundaries with this workout. Pushing, pulling, swinging and dragging equipment and your own body weight to develop power, strength and overall fitness. Suitable for intermediate to advanced exercisers. THIS CLASS IS NOT INCLUDED IN OUR STANDARD MEMBERSHIP AND CARRIES AN EXTRA CHARGE, PLEASE ASK A MEMBER OF THE TEAM FOR MORE INFORMATION.
