<% title 'VHF Swalwell Gateshead Join Now' %>

<div class="row expanded collapse">
  <div class="small-12 columns">
    <div class="bg-image-swalwell bg-image promo-banner">
      <div class="small-12 medium-9 small-centered columns">
        <div class="promo-banner-sticker-container">
          <div class="promo-banner-sticker">
            <div class="promo-banner-sticker-text">
              <div><span>FROM</span></div>
              <div><span>£19.99</span></div>
              <div><span>PER MONTH</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="promo-banner-text">
        <div class="small-12 medium-9 small-centered columns">
          <span>VISION HEALTH AND FITNESS</span>
          <h2>SWALWELL</h2>
          <button class="button promo-button promo-button-link" data-open="privacy_statement">Join Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promo-icons">
  <div class="row">
    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-calendar fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">200+ CLASSES</div>
      <div class="promo-icon-body">Over 200 classes a month included in your membership. Get fit, have fun.</div>
    </div>

    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-heartbeat fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">FUNCTIONAL HIIT ZONE</div>
      <div class="promo-icon-body">Custom assault rig and state of the art HIIT zone, are you Ninja warrior ready?</div>
    </div>

    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-running fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">PROWLER &amp; SPRINT TRACK</div>
      <div class="promo-icon-body">20m sprint track with Prowler and Tank to explode your workouts.</div>
    </div>

    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-weightlifting-1 fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">200+ MACHINES</div>
      <div class="promo-icon-body">State of the art Cardio, Strength, Resistance, & Functional machines all provided by Precor and Hammer Strength.</div>
    </div>

    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-weightlifting fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">FREE WEIGHTS ZONE</div>
      <div class="promo-icon-body">Massive area with over 20 benches and dumbells up to 60KG</div>
    </div>

    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-gym fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">PERSONAL TRAINERS</div>
      <div class="promo-icon-body">Take your training to the next level with one of our expert Personal Trainers.</div>
    </div>

    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-shower fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">CHANGING FACILITIES</div>
      <div class="promo-icon-body">Our changing rooms provide warm, spacious and secure facilities for men and women.</div>
    </div>

    <div class="medium-3 small-6 columns">
      <div class="promo-icon-container">
        <i class="flaticon-car fi promo-icon"></i>
      </div>
      <div class="promo-icon-title">FREE PARKING</div>
      <div class="promo-icon-body">Free onsite parking in our secure, gated, and CCTV monitored car park.</div>
    </div>
  </div>
</div>

<div class="reveal small" id="privacy_statement" data-reveal>
  <div id="privacy-statement-container">
    <%= render partial: '/gdpr_compliance/sign_up_privacy_statement' %>
  </div>

  <div class="row">
    <div class="small-12 small-centered text-center columns">
      <p class="privacy-statement-notice">Please scroll down to read the full privacy statement, then click continue.</p>
    </div>
  </div>


  <div class="row">
    <div class="small-6 small-centered text-center columns">
      <div class="membership-link">
        <%= link_to 'Continue', 'https://visionhealthandfitness.membr.com/register', class: 'button' %>
      </div>
    </div>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
