.row
  .small-12.columns
    %h1 Class Timetables

.timetable-list
  .row
    .small-12.medium-6.columns
      %table
        .title monday
        %thead
          %tr
            %th Time
            %th Class
            %th Duration
            %th Location
        %tbody
          %tr
            %td 06:15 - 07:00
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 06:15 - 06:45
            %td Kettle X Fit
            %td 30 minutes
            %td Studio 1
          %tr
            %td 09:30 - 10:00
            %td HIIT
            %td 30 minutes
            %td Studio 1
          %tr
            %td 10:00 - 11:00
            %td Cycle / Pump
            %td 1 hour
            %td Cycle / Studio 1
          %tr
            %td 17:30 - 18:00
            %td HIIT
            %td 30 minutes
            %td Studio 1
          %tr
            %td 18:00 - 18:45
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 18:00 - 19:00
            %td Pumped
            %td 1 hour
            %td Studio 1
          %tr
            %td 18:15 - 19:15
            %td Boxing
            %td 1 hour
            %td Boxing Studio
          %tr
            %td 19:30 - 20:30
            %td Amateur Boxing
            %td 1 hour
            %td Boxing Studio
          %tr
            %td 19:00 - 20:00
            %td Pilates
            %td 1 hour
            %td Studio 1
          %tr
            %td 19:15 - 20:00
            %td TRX Circuit
            %td 45 minutes
            %td Hammer Gym
          %tr
            %td 19:30 - 20:30
            %td Weight Circuit
            %td 1 hour
            %td Main Gym

    .small-12.medium-6.columns
      %table
        .title tuesday
        %thead
          %tr
            %th Time
            %th Class
            %th Duration
            %th Location
        %tbody
          %tr
            %td 06:15 - 07:00
            %td Bootcamp
            %td 45 minutes
            %td Studio 1
          %tr
            %td 09:30 - 10:15
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 10:15 - 11:15
            %td Pilates
            %td 1 hour
            %td Studio 1
          %tr
            %td 17:30 - 18:00
            %td Total Body
            %td 30 minutes
            %td Studio 1
          %tr
            %td 18:00 - 18:45
            %td L.B.T
            %td 45 minutes
            %td Studio 1
          %tr
            %td 18:00 - 19:00
            %td Strength &amp; Conditioning
            %td 1 hour
            %td Main Gym
          %tr
            %td 18:30 - 19:15
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 19:00 - 19:30
            %td TRX
            %td 30 minutes
            %td Hammer Gym
          %tr
            %td 19:15 - 20:15
            %td MMA
            %td 1 hour
            %td Boxing Studio
          %tr
            %td 19:30 - 20:30
            %td Weight Circuit
            %td 1 hour
            %td Main Gym

  .row
    .small-12.medium-6.columns
      %table
        .title wednesday
        %thead
          %tr
            %th Time
            %th Class
            %th Duration
            %th Location
        %tbody
          %tr
            %td 06:15 - 07:00
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 06:30 - 07:00
            %td HIIT
            %td 30 minutes
            %td Studio 1
          %tr
            %td 09:30 - 10:00
            %td TRX
            %td 30 minutes
            %td Main Gym
          %tr
            %td 10:00 - 10:45
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 10:00 - 11:00
            %td Pumped
            %td 1 hour
            %td Studio 1
          %tr
            %td 17:30 - 18:00
            %td Circuit
            %td 30 minutes
            %td Studio 1
          %tr
            %td 18:00 - 19:00
            %td Pilates
            %td 1 hour
            %td Studio 1
          %tr
            %td 18:00 - 18:45
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 18:15 - 19:15
            %td Boxing
            %td 1 hour
            %td Boxing Studio
          %tr
            %td 18:30 - 19:30
            %td Weight Circuit
            %td 1 hour
            %td Main Gym
          %tr
            %td 19:00 - 20:00
            %td Rig Assault
            %td 1 hour
            %td Main Gym
          %tr
            %td 19:30 - 20:30
            %td Amateur Boxing
            %td 1 hour
            %td Boxing Studio

    .small-12.medium-6.columns
      %table
        .title thursday
        %thead
          %tr
            %th Time
            %th Class
            %th Duration
            %th Location
        %tbody
          %tr
            %td 06:15 - 06:45
            %td Kettle X Fit
            %td 30 minutes
            %td Studio 1
          %tr
            %td 09:30 - 10:15
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 09:30 - 10:30
            %td Pilates
            %td 1 hour
            %td Studio 1
          %tr
            %td 10:30 - 11:15
            %td Total Body
            %td 45 minutes
            %td Studio 1
          %tr
            %td 17:30 - 18:00
            %td L.B.T
            %td 30 minutes
            %td Studio 1
          %tr
            %td 18:00 - 18:45
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 18:00 - 18:30
            %td TRX
            %td 30 minutes
            %td Main Gym
          %tr
            %td 18:00 - 19:00
            %td Ultimate Endurance
            %td 1 hour
            %td Studio 1
          %tr
            %td 19:15 - 20:15
            %td MMA
            %td 1 hour
            %td Boxing Studio
          %tr
            %td 19:30 - 20:30
            %td Weight Circuit
            %td 1 hour
            %td Main Gym

  .row
    .small-12.medium-6.columns
      %table
        .title friday
        %thead
          %tr
            %th Time
            %th Class
            %th Duration
            %th Location
        %tbody
          %tr
            %td 06:15 - 07:00
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 09:30 - 10:00
            %td HIIT
            %td 30 minutes
            %td Studio 1
          %tr
            %td 10:00 - 10:30
            %td Ab-Solution
            %td 30 minutes
            %td Studio 1
          %tr
            %td 10:30 - 11:30
            %td Conditioning
            %td 1 hour
            %td Studio 1
          %tr
            %td 16:30 - 17:30
            %td Amateur Boxing
            %td 1 hour
            %td Boxing Studio
          %tr
            %td 17:30 - 18:00
            %td TRX
            %td 30 minutes
            %td Hammer Gym
          %tr
            %td 18:00 - 18:45
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 18:00 - 19:00
            %td Weight Circuit
            %td 1 hour
            %td Main Gym
          %tr
            %td 18:00 - 18:30
            %td Strength &amp; Conditioning
            %td 30 minutes
            %td Main Gym
          %tr
            %td 18:15 - 19:15
            %td Boxing
            %td 1 hour
            %td Boxing Studio
          %tr
            %td 18:45 - 19:15
            %td Ab-Solution
            %td 30 minutes
            %td Studio 1

    .small-12.medium-6.columns
      %table
        .title saturday
        %thead
          %tr
            %th Time
            %th Class
            %th Duration
            %th Location
        %tbody
          %tr
            %td 09:30 - 10:00
            %td Kettle X Fit
            %td 30 minutes
            %td Studio 1
          %tr
            %td 10:00 - 11:00
            %td Cycle Fit Challenge
            %td 1 hour
            %td Cycle Studio
          %tr
            %td 11:00 - 12:30
            %td Amateur Boxing
            %td 1 hour 30 minutes
            %td Boxing Studio
          %tr
            %td 11:00 - 12:00
            %td Pilates
            %td 1 hour
            %td Studio 1
          %tr
            %td 14:00 - 15:00
            %td MMA
            %td 1 hour
            %td Boxing Studio

  .row
    .small-12.medium-6.columns
      %table
        .title sunday
        %thead
          %tr
            %th Time
            %th Class
            %th Duration
            %th Location
        %tbody
          %tr
            %td 10:00 - 10:45
            %td Cycle Fit
            %td 45 minutes
            %td Cycle Studio
          %tr
            %td 11:00 - 12:00
            %td Pilates
            %td 1 hour
            %td Studio 1

