.row
  .small-12.columns
    %h1 TOTAL BODY
    %p A full body workout combining interval training and body weight exercises designed to improve all over fitness. Suitable for all fitness levels.

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              total body
          %tr
            .class-location
              studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td
            %td 17:30 - 18:00
            %td
            %td 10:30 - 11:15
            %td
            %td
            %td
