.row
  .small-12.columns
    %h1 TRX
    %p A total body suspension workout that leverages gravity with your own body weight to provide the resistance to improve your strength, core stability, balance and flexibility. Suitable for all fitness levels.

     .class-timetable
      %table
        %thead
          %tr
            .class-name
              trx
          %tr
            .class-location
              hammer gym / main gym
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td 19:15 - 20:00
            %td 19:00 - 19:30
            %td 09:30 - 10:00
            %td 18:00 - 18:30
            %td 17:30 - 18:00
            %td
            %td
