.row
  .small-12.columns
    %h1 TRX
    %p A total body suspension workout that leverages gravity with your own body weight to provide the resistance to improve your strength, core stability, balance and flexibility. Suitable for all fitness levels.
