.row
  .small-12.columns
    %h1 ULTIMATE ENDURANCE
    %p The ultimate workout designed to improve strength, endurance and cardiovascular fitness. Test your fitness levels with this total body workout. Suitable for intermediate and advanced exercisers .

    .class-timetable
      %table
        %thead
          %tr
            .class-name
              ultimate endurance
          %tr
            .class-location
              studio 1
          %tr
            %th Mon
            %th Tue
            %th Wed
            %th Thu
            %th Fri
            %th Sat
            %th Sun
        %tbody
          %tr
            %td
            %td
            %td
            %td 18:00 - 19:00
            %td
            %td
            %td
