.row
  .small-12.columns
    %h1 ULTIMATE ENDURANCE
    %p The ultimate workout designed to improve strength, endurance and cardiovascular fitness. Test your fitness levels with this total body workout. Suitable for intermediate and advanced exercisers .
