- provide(:title, 'Create New Trial')
- provide(:button_text, 'Create Trial')
.row
  .small-12.medium-6.small-centered.columns
    %h1 Create new trial
.row
  .small-12.medium-6.small-centered.columns
    = render 'form'
