- provide(:title, 'Edit user')
- provide(:button_text, 'Save changes')
.row
  .small-12.medium-6.small-centered.columns
    %h1 Update your profile
.row
  .small-12.medium-6.small-centered.columns
    = render 'form'
