- provide(:title, 'Create New User')
- provide(:button_text, 'Create User')
.row
  .small-12.medium-6.small-centered.columns
    %h1 Create new User
.row
  .small-12.medium-6.small-centered.columns
    = render 'form'
