- flash.each do |key, value|
  = content_tag :div, class: "callout #{key}", data: { closable: "" } do
    %p= value
    %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
      %span{"aria-hidden" => "true"} ×
