// Colours

$vhf-red: #B20000;
$grey-darken-4: #212121;

// Text

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: $grey-darken-4;
}

.upcase {
  text-transform: uppercase;
}

.underline {
  margin-bottom: 35px;
  position: relative;
  text-align: center;
}

.underline:after {
  bottom: -15px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
  background: $vhf-red;
}

//.underline h1 + span::after, .underline h2 + span::after{
//  position: absolute; 
//  left: 0; 
//  bottom: 0; 
//  width: 100%; 
//  height: 1px; 
//  border-bottom: 1px solid #000;
//  content: "";
//}

//.underline {
//  width: 100%;
//}
//
//.underline__content {
//  text-align: center;
//  margin-bottom: 0.5rem; 
//}
//
//.underline h1, .underline h2, .underline h3, .underline h4, .underline h5 {
//  border-bottom: 2px solid $vhf-red; 
//  display:inline;
//}
//
//.underline h1 {
//  font-size: 2rem;
//}
//
//.underline h1 + span {
//  position: relative;
//  padding-bottom: 5px;
//}

