// Colours

$vhf-red: #B20000;
$grey-darken-4: #212121;
$blue: #2196f3;
$amber: #ffb300;
$white: #fff;
$green: #66bb6a;

// Text

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  letter-spacing: 1px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: $grey-darken-4;
}

.upcase {
  text-transform: uppercase;
}

.underline {
  margin-bottom: 35px;
  position: relative;
  text-align: center;
}

.underline:after {
  bottom: -15px;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
  background: $vhf-red;
}

// Buttons

.button.blue {
  background-color: $blue;
}

.button.blue > a, .button.amber > a, .button.green > a {
  color: $white;
}

.button.amber {
  background-color: $amber;
}

.button.green {
  background-color: $green;
}

table .button {
  margin-bottom: 5px;
  margin-top: 5px;
}

table .button > a {
  color: $white;
}
