$vhf-red: #B20000;

.bg-image {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    image-url('cramlington1-ol.png');
  background-size: cover;
  width: 100%;
  min-height: 700px;
  position: relative;
  float: left;
}

.bg-image .promo-banner-text {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 40%;
  text-align: right;
  width: 100%;
}

.promo-banner-text h2 {
  font-weight: 900;
  font-size: 5rem;
  width: 100%;
  letter-spacing: 2px;
  margin-top: -30px;
}

.promo-banner-text span {
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
  letter-spacing: 2px;
}

.promo-button {
  font-weight: 600;
  padding: 1rem !important;
  letter-spacing: 1px;
  margin-top: -10px !important;
  text-transform: uppercase;
}

.promo-button-link:target:before {
    content: "";
    display: inline-block;
    height: 50px;
    margin: -50px 0 0;
}

.promo-banner-sticker-container {
  color: white;
  text-transform: uppercase;
  margin: 25px 0 0 0;
  text-align: center;
  height: 200px;
  width: 200px;
}

.promo-banner-sticker {
  border-radius: 50%;
  background-color: $vhf-red;
  height: 180px;
  width: 180px;
}

.promo-banner-sticker-text {
  transform: translate(0%, 50%) rotate(-15deg);
  font-weight: 600;
  font-size: 1.3rem;
}

.promo-banner-sticker-text span {
}

.map-container {
  background: #000;
  width: 100%;
  padding: 15px 0;
  margin-bottom: -2rem;
}

.map-container iframe {
  width: 100%;
}

.text-small {
  font-size: 0.8rem;
}

.register-interest-submit-button {
  margin-top: 15px !important;
}

#register-interest-form-link {
  height: 55px;
  width: 100%;
}

.bg-image .confirmation-banner-text {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
}

.confirmation-banner-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  width: 100%;
  letter-spacing: 2px;
}

.confirmation-banner-text span {
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
  letter-spacing: 1px;
}

#privacy_statement {
  background-color: #e0e0e0;
}

#privacy-statement-container {
  background-color: #fff;
  padding: 15px;
}

@media screen and (max-width: 900px) {
  .bg-image {
    height: 500px;
  }

  .bg-image .promo-banner-text {
    text-align: center;   
  }

  .promo-banner-text h2 {
    font-size: 3.5rem;
    margin-top: -25px;
  }

  .promo-banner-sticker-container {
    margin-left: auto;
    margin-right: auto;
  }

  .promo-banner-sticker {
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 140px;
  }

  .promo-banner-sticker-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .promo-banner-text h2 {
    font-size: 2rem;
    margin-top: -15px;
  }

  .promo-banner-text span {
    font-size: 1.3rem;
  }

  .confirmation-banner-text h2 {
    font-size: 2rem;
  }

  .confirmation-banner-text span {
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    letter-spacing: 1px;
  }
}
