.footer.container {
  background-color: $black;
  color: $white;
  padding: 1rem;
}

.footer {
  font-size: 0.9rem;
}

.footer .contact-info span {
  display: block;
}

.footer .site-links > ul, .footer .social-links > ul, .footer .opening-hours > ul {
  list-style-type: none;
  margin: 0;
}
