$vhf-red: #B20000;
$white: #fff;
$medium-gray: #333;

.footer.container {
  background-color: #000;
  color: $white;
  padding: 1rem;
}

.footer .contact-info span {
  display: block;
  word-wrap: break-word;
}

.footer ul {
  list-style-type: none;
  margin: 0;
}

.footer .accordion-item a {
  font-size: 15px;
}

.footer ul span {
  font-size: 14px;
}

.footer ul .accordion-title {
  background-color: #000;
  border-color: #000;
  padding-left: 0;
}

.footer ul :last-child:not(.is-active) > .accordion-title {
  border-bottom: none;
}
