$black: #000;
$white: #fff;
$vhf-red: #B20000;

.main-banner img {
  width: 100%;
}

.vertical-spacing {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.trial-banner {
  background-color: $black;
  color: $white;
  text-align: center;
  padding: 1rem;
}

.trial-banner .underline {
  margin-bottom: 30px;
}

.trial-banner p {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: $white;
}

.trial-banner .button {
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
  transition: none;
}

.trial-banner .button:hover {
  border: 2px solid $vhf-red;
  color: $vhf-red;
  transition: none;
}

.home .main-text {

}

.home-video-container {
  background: #000;
  margin-bottom: 2rem;
}

.home-video iframe {
  width: 100%;
  height: 400px;
  background-color: #000;
}
