$vhf-red: #B20000;
$white: #fff;
$black: #000;
$nav-height: 55px;

.title-bar, #nav, #nav .menu {
  background: $black;
}

#nav {
  background: $black;
  padding: 0 1rem;
  border-bottom: 1px solid $vhf-red;
}

.menu-logo {
  float: left;
}

.menu-logo:hover {
  background-color: $black !important;
}

.menu-logo img {
  height: $nav-height;
  border-bottom: 1px solid $vhf-red;
}

.menu > li {
  display: inline-block;
  height: $nav-height;
}

.menu > li:first-child {
  margin-left: 1rem;
}

.menu > li:last-child {
  margin-right: 1rem;
}

.menu > li > a {
  color: #fff;
  height: $nav-height;
  line-height: $nav-height;
  padding: 0 0.75rem;
}

.menu a {
  color: #fff;
}

.menu > li:hover {
  background-color: $vhf-red;
}

@media screen and (max-width: 640px) {
  #nav {
    padding: 0;
  }
   
  #nav .top-bar-left {
    display: none;
  }

  #nav ul li {
    border-top: 1px solid $vhf-red;
    text-align: center;
  }

  .menu > li:first-child {
    margin-left: 0;
  }

  .menu > li:last-child {
    margin-right: 0;
  }

  .menu-logo img {
    border-bottom: 0;  
  }
}
