$vhf-red: #B20000;
$white: #fff;

#mega-menu-container {
  background: #000;
}

.menu {
  position: relative;
  border: none;
  text-align: right;
  border-bottom: 1px solid $vhf-red;
  min-height: 55px;
}

.menu-logo {
  float: left;
}

.menu-logo img {
  height: 55px;
}

.menu > li {
  display: inline-block;
  height: 55px;
}

.menu > li:first-child {
  margin-left: 1rem;
}

.menu > li:last-child {
  margin-right: 1rem;
}

.menu > li > a {
  color: #fff;
  height: 55px;
  line-height: 55px;
  padding: 0 0.75rem;
}

.menu a {
  color: #fff;
}

.menu > li:hover {
  background-color: $vhf-red;
}

.is-dropdown-submenu-parent.mega-menu {
  position: static;
}

.mega-menu .is-dropdown-submenu h3 {
  color: $white;
  font-size: 1.2em;
  margin-bottom: 0.1rem;
}

.mega-menu .is-dropdown-submenu ul {
  list-style: none;
  margin-left: 0;
}

.mega-menu .is-dropdown-submenu {
  left: 0;
  right: 0;
  position: absolute;
  width: 100%; // Make sure this width causes no issues
  padding: 1em 2em;
  text-align: left
}

.mega-menu .is-dropdown-submenu-parent .is-active {
  background-color: $vhf-red; 
}

.is-dropdown-submenu-parent.opens-inner > .is-dropdown-submenu {
  background-color: $vhf-red;
}
