.row.expanded
  %ul#mega-menu-container.menu{"data-click-open" => "true", "data-disable-hover" => "true", "data-dropdown-menu" => ""}
    %li
      %a{:href => "#"} Home
    %li.mega-menu
      %a{:href => "#" } Classes
      %ul.menu
        %li
          .medium-3.column
            %h3 Strength
            %ul
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
          .medium-3.column
            %h3 Cardio
            %ul
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
          .medium-3.column
            %h3 Sports
            %ul
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
          .medium-3.column
            %h3 Popular
            %ul
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
              %li
                %a{:href => "#"} Class Name
    %li
      %a{:href => "#"} Facilties
    %li
      %a{:href => "#"} Memberships
    %li
      %a{:href => "#"} Contact


